body {
  background-color: #2c3e50;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.btn-container {
  padding: 2rem;
}

.btn-nuxtjs {
  text-decoration: none;
  background-color: #00c58e;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: sans-serif;
  font-size: 1rem;
  color: white;
  border-radius: 0.25rem;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

.btn-nuxtjs:hover {
  background-color: #54e0a1;
}

.white {
  background-color: #edf2f7;
  color: #2f495e;
}

.white:hover {
  background-color: #e2e8f0;
}
